.stage-selected {
  background-color: #655d8e;
  border: solid 1px #655d8e;
  z-index: 1;
}
.stage-not-highlighted {
  color: #6d678e;
  background-color: #fff;
  border: solid 1px #6d678e;
  z-index: 1;
}

.connector-line {
  width: 1px;
  position: absolute;
  height: 80%;
  top: 40px;
  left: 7px;
  background-color: #655d8e;
}

.border-ow {
  border-color: #545454;
}
